@import 'styles/breakpoints';
@import 'styles/mixins';
@import 'styles/colors';

.search__section {
  text-align: center;
  min-height: 60vh;
  @include flexLayout(unset, center);
  @include sectionSpacing($margin-S);

  @include media-min($lg) {
    @include sectionSpacing($margin-M);
  }

  .wrapper {
    width: 100%;
  }

  h2 {
    margin-bottom: 0.625rem;

    @include media-min($lg) {
      font-size: 2.188rem;
    }

    em {
      text-transform: lowercase;
      font-weight: 300;
    }
  }

  a {
    color: $blue;
  }

  .list {
    margin-top: 1.25rem;

    .results {
      margin-top: 1.25rem;
    }
  }

  form {
    @include flexLayout(center, center);
    gap: 0.938rem;
    flex-direction: column;
    margin-top: 1.25rem;

    @include media-min($lg) {
      flex-direction: row;
    }

    input,
    button {
      padding: 0.625rem 1.25rem;
      border-radius: 1.563rem;
      border: none;
      font-size: 1rem;
      @include transition();

      @include media-min($lg) {
        padding: 0.875rem 1.625rem;
        max-width: unset;
      }
    }

    input {
      width: 100%;
      max-width: 31.25rem;
      text-align: center;
      color: $white;
      background: transparent;
      outline: 3px solid $blue;
      caret-color: $white;

      &:hover,
      &:focus {
        outline-color: $silver;
      }
    }

    button {
      width: 100%;
      max-width: 31.25rem;
      font-family: 'Bebas Neue', cursive;
      letter-spacing: 0.125rem;
      color: $white;
      background: $blue;
      outline: none;
      border: 3px solid $blue;
      cursor: pointer;

      &:hover,
      &:focus {
        background: transparent;
        border-color: $silver;
      }

      @include media-min($lg) {
        width: unset;
        padding: 0.875rem 2.25rem;
      }
    }
  }
}
