@import 'styles/colors';
@import 'styles/breakpoints';
@import 'styles/mixins';

.overview {
  max-width: 37.5rem;

  @include media-min($lg) {
    max-width: 25rem;
  }

  @include media-min($xl) {
    max-width: 37.5rem;
  }

  &.person {
    @include media-min($xl) {
      max-width: 62.5rem;
    }
  }

  p {
    text-shadow: 0.188rem 0.188rem 0.313rem rgba(0, 0, 0, 1);
    line-height: 1.5rem;
    mask-image: none;
    -webkit-mask-image: none;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: unset;
    line-clamp: unset;
    -webkit-box-orient: vertical;
    margin-bottom: 0.188rem;
  }

  .read__more {
    mask-image: linear-gradient(#0b0c0f calc(100% - 3.125rem), transparent);
    -webkit-mask-image: linear-gradient(
      #0b0c0f calc(100% - 3.125rem),
      transparent
    );
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 0.188rem;
  }

  .overview__cta {
    color: $blue;
    background: transparent;
    font-size: 0.875rem;
  }
}
