//background
$bg: #0b0c0f;

//text
$white: #eff7f6;
$silver: #b3b3b3;

//other
$oxfordBlue: #002147;
$blue: #5468ff;

//linear gradient
$cardGradient: linear-gradient(
  180deg,
  rgba(0, 0, 0, 0) 60%,
  rgba(11, 12, 15, 0.8) 85%,
  rgba(11, 12, 15, 1) 100%
);

//homepage overlay
$overlay: radial-gradient(rgba(11, 12, 15, 1), rgba(11, 12, 15, 0)),
  linear-gradient(
    180deg,
    rgba(11, 12, 15, 0) 80%,
    rgba(11, 12, 15, 0.9) 95%,
    rgba(11, 12, 15, 1) 100%
  );
