@import 'styles/breakpoints';

.img__wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 26.563rem;

  @include media-min($md) {
    max-width: 18.75rem;
    margin-left: 1.5rem;
    border-radius: 1rem;
  }
  @include media-min($lg) {
    margin-left: 3rem;
    max-width: 20rem;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: -1px;
    bottom: -1px;
    background: linear-gradient(
      180deg,
      rgba(11, 12, 15, 0) 80%,
      rgba(11, 12, 15, 0.9) 95%,
      rgba(11, 12, 15, 1) 100%
    );

    @include media-min($lg) {
      background: linear-gradient(
          90deg,
          rgba(11, 12, 15, 0) 85%,
          rgba(11, 12, 15, 0.6) 95%,
          rgba(11, 12, 15, 1) 100%
        ),
        linear-gradient(
          180deg,
          rgba(11, 12, 15, 0) 85%,
          rgba(11, 12, 15, 1) 100%
        );
    }
  }

  .placeholder__cover::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: -1px;
    left: 0;
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 60%,
        rgba(11, 12, 15, 0.8) 85%,
        rgba(11, 12, 15, 1) 100%
      ),
      url('/public/assets/images/No-Image-Placeholder.svg.png');
    background-size: cover;
    background-position: center;
    z-index: 100;
  }
}
